<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/listado-solicitudes"></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitud entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="solicitud">
    <ion-item>
      <ion-label position="stacked"><strong>Fecha solicitud:</strong></ion-label>
      <p>{{solicitud.fechasol}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><strong>Lugar y hora:</strong></ion-label>
      <p>{{solicitud.horario}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><strong>Entrenador:</strong></ion-label>
      <p>{{entrenador}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><strong>Mensaje:</strong></ion-label>
      <p>{{solicitud.mensaje}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><strong>Mensaje del entrenador:</strong></ion-label>
      <p>{{solicitud.mensajerespuesta}}</p>
    </ion-item>
    <br/>
    <div style="display: flex; justify-content: center;" *ngIf="solicitud.respuesta==aceptar">
      <img src="../../../assets/solicitudes/aceptar.png" style="width: 40px; height: 40px;">
      <p style="margin-bottom: auto;margin-top: auto">&nbsp;Aceptado</p>
    </div>
    <div style="display: flex; justify-content: center;" *ngIf="solicitud.respuesta==rechazar">
      <img src="../../../assets/solicitudes/rechazar.png" style="width: 40px; height: 40px;">
      <p style="margin-bottom: auto;margin-top: auto">&nbsp;Rechazado</p>
    </div>

    <div style="display: flex; justify-content: center;" *ngIf="solicitud.respuesta==espera">
      <img src="../../../assets/solicitudes/espera.png" style="width: 40px; height: 40px;">
      <p style="margin-bottom: auto;margin-top: auto">&nbsp;En espera</p>
    </div>
    <div style="display: flex; justify-content: center;" *ngIf="solicitud.respuesta==anulado">
      <img src="../../../assets/solicitudes/anulado.png" style="width: 40px; height: 40px;">
      <p style="margin-bottom: auto;margin-top: auto">&nbsp;Anulado</p>
    </div>
    <br/>
    <div *ngIf="solicitud.respuesta==espera">
      <ion-button  expand="full" (click)="confirmaranular()" color="danger">Anular</ion-button>
    </div>
    
  </form>
</ion-content>
