<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Menu Arqueros</ion-title>
    <ion-buttons slot="end" style="padding: 10px;" [routerLink]="['/notificaciones-arquero']">
      <app-noti></app-noti>
  
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button routerLink="/perfil-arquero" block >
          <img src="../../../assets/menu/perfil.png">
        </button>
      </ion-col>
      <ion-col>
        <button routerLink="/solicitud" block >
          <img src="../../../assets/menu/file.png">
        </button>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        Perfil
      </ion-col>
      <ion-col>
        Solicitar Entrenamiento
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <button routerLink="/listado-solicitudes" block >
          <img src="../../../assets/menu/file (2).png">
        </button>
      </ion-col>
      <ion-col >
        <button routerLink="/arquero-avance" block >
          <img src="../../../assets/menu/analytics.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Solicitudes
      </ion-col>
      <ion-col >
        Avances
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a href="https://chat.whatsapp.com/DmACGpFKfZqH4A3KIPy4Fx">
          <img src="../../../assets/menu/whatsap.png">
        </a>
      </ion-col>
      <ion-col >
        <button (click)="mensajesalir()" block >
          <img src="../../../assets/menu/cerrarsesión.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Grupo
      </ion-col>
      <ion-col >
        Cerrar Sesión
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
