<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">ESCUELA DE ARQUEROS RICARDO MEDINA
                <span>DEPORTES</span>
              </h1>
              <p class="lead  text-white">Quieres aprender y mejorar tus cualidades de arquero ....!!!!!
                Contamos con personal capacitado y con experiencia en el futbol profesional ...!!</p>
              <div class="btn-wrapper">
                <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/alerts?ref=adsa-landing-page" class="btn btn-info btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                  <span class="btn-inner--text">Components</span>
                </a>
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                  <span class="btn-inner--text">Download Angular</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg" style="padding-bottom: 0px !important;margin-bottom: 0px!important;">
        <div class="col-lg-8">
          <h2 class="display-3">Equipo de Entrenadores</h2>
          <p class="lead text-muted">Profesor Principal: Ricardo Medina (Ex arquero prefesional de futbol y profesor de equipos de primera categoria con amplio conocimiento y mas de 10 años de experiencia en preparacion y formacion de arqueros).
            Asistente: Juan Medina (Jugador de futbol profesional y amplio conocimiento en preparacion y formacion de arqueros).</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-lg-4 mb-5 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/medina1.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;height: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Ricardo Medina</span>
                <small class="h6 text-muted">Entrenador</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-warning btn-icon-only rounded-circle">
                  <i class="fa fa-whatsapp"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 mb-4 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/medina2.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;height: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Juan Medina</span>
                <small class="h6 text-muted">Entrenador</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-primary btn-icon-only rounded-circle">
                  <i class="fa fa-whatsapp"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-4 mb-4 mb-lg-0">
          <div class="px-4">
            <img src="./assets/img/theme/medina3.jpeg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;height: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">Andres Medina</span>
                <small class="h6 text-muted">Entrenador</small>
              </h5>
              <div class="mt-3">
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-info btn-icon-only rounded-circle">
                  <i class="fa fa-whatsapp"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <h6 class="text-primary text-uppercase" style="text-align: center;">JUAN RICARDO MEDINA FLORES</h6>
                  <p class="description mt-3">Jugador de Fútbol Formativas-Club Deportivo EL Nacional </p>
                  <h6 class="text-primary text-uppercase">Jugador de Fútbol</h6>
                  <p class="description mt-2">Santa Rosa FC–1992<br/>
                  CD El Nacional–1996–1999/Campeón Nacional<br/>
                  Sociedad Deportivo Quito–2002–2003<br/>
                  Colegio de Liga-2004</p>

                  <h6 class="text-primary text-uppercase">Carrera de Entrenador</h6>
                  <p class="description mt-2">Escuela de Arqueros Ricardo Medina–2008–Actualidad<br/>
                    Sociedad Deportivo Quito–Equipo Profesional 2015–2016 Serie A<br/>
                    IFA7 Selección del Ecuador de fútbol 7–Final vs Brasil–2018<br/>
                    CD El Nacional-Equipo Profesional 2021–Serie B</p>

                  <h6 class="text-primary text-uppercase">FORMACIÓN ACADÉMICA</h6>
                  <p class="description mt-2">Clínica Internacional de actualización deportiva–SEK INTERNACIONAL(Abr 2017)<br/>
                    Clínica Formativo para técnicos deportivos–CD Puerta de Madrid(Jul 2017)<br/>
                    Seminario de Entrenadores de Arqueros FEF y Asociación de Entrenadores de Arqueros del Ecuador
                    (Dic 2020–Feb 2021)<br/>
                    </p>
                    
                   
                  <div>
                    <span class="badge badge-pill badge-primary">Entrenador</span>
                    <span class="badge badge-pill badge-primary">Jugador de Fútbol</span>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <!--<div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-istanbul"></i>
                  </div>-->
                  <h6 class="text-success text-uppercase">JUAN SEBASTIAN MEDINA FLORES</h6>
                  <p class="description mt-3">Jugador de Fútbol Formativas:<br/>
                    Club Deportivo EL Nacional <br/>
                    Sociedad Deportivo Quito </p>

                  <h6 class="text-primary text-uppercase">Jugador de Fútbol Activo</h6>
                  <p class="description mt-2">Independiente del Valle – 2014<br/>
                    Sociedad Deportivo Quito–2015-2016 <br/>
                    Mushuc Runa–2017<br/>
                    Geinco FC – 2019<br/>
                    Cumbaya FC–Actualidad</p>

                  <h6 class="text-primary text-uppercase">Entrenador de Arqueros</h6>
                  <p class="description mt-2">Escuela de Arqueros Ricardo Medina<br/>
                    Club Femenino Ñañas FC (Primera)<br/>
                    Club Deportivo El Nacional Femenino (Primera)<br/>
                    IFA7 Selección del Ecuador de fútbol 7–Campeones Sudamericanos – Final vs Brasil</p>

                  <h6 class="text-primary text-uppercase">FORMACIÓN ACADÉMICA</h6>
                  <p class="description mt-2">ESBS European Sport Business School Preparación física en los arqueros–2017<br/>
                    ANEFF Curso Online preparación de Arqueros y metodologías 2018<br/>
                    Congreso Online CIEP GK1 CHILE–(Jun–Jul 2020)<br/>
                    Seminario de Entrenadores de Arqueros FEF y Adeapec.
                    (Dic 2020–Feb 2021)</p>

                  <div>
                    <span class="badge badge-pill badge-success">Entrenador</span>
                    <span class="badge badge-pill badge-success">Jugador de Fútbol Activo</span>
                  </div>
                  
              
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <!--<div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                  <i class="ni ni-planet"></i>
                  </div>-->
                  <h6 class="text-warning text-uppercase">ANDRES MEDINA FLORES</h6>
                  <p class="description mt-3">Título: ACTIVIDADES DE APOYO PARA LA PROMOCIÓN EN RECREACION Y DEPORTES<br/>
                    <br/>
                    Entrenador Deportivo<br/>
                    Director Técnico de Fútbol<br/>                 
                    Entrenador y Formador de Arquer@s<br/>                    
                    Diplomado en Preparación Física</p>

                  <h6 class="text-primary text-uppercase">Carrera Deportiva</h6>
                  <p class="description mt-2">Participación en Categorias Formativas
                    en equipos de la ciudad de Quito</p>

                  <h6 class="text-primary text-uppercase">ENTRENADOR Y ENTRENADOR DE ARQUEROS</h6>
                    <p class="description mt-2">2015–ACTUALIDAD ESCUELA DE ARQUEROS  
                      RICARDO MEDINA SUB DIRECTOR Y MARKETING 
                      ENTRENADOR Y FORMADOR DE ARQUEROS 
                     (Trabajo específico de arqueros–todas las etapas)<br/>
                      Club Femenino Ñañas FC (Primera)<br/>
                      Club Deportivo El Nacional Femenino (Primera)<br/>
                      IFA7 Selección del Ecuador de fútbol 7–Campeones Sudamericanos – Final vs Brasil</p>

                  <div>
                    <span class="badge badge-pill badge-warning">Entrenador</span>
                    <span class="badge badge-pill badge-warning">Título</span>
                    <span class="badge badge-pill badge-warning">Carrera Deportiva</span>
                    <span class="badge badge-pill badge-warning">Cursos</span>
                  </div>
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/theme/foto2.JPG" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Formación</h3>
            <p>Formamos arqueros con fundamentos técnicos tácticos y físicos en niveles :</p>
            <p>Principiantes: ( DESDE LOS 8 AÑOS HASTA 14 AÑOS)</p>
            <p>Intermedios: ( DESDE LOS 14 AÑOS HASTA 17 AÑOS)</p>
            <p>Avanzados: (DESDE 18 AÑOS EN ADELANTE).</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Compromiso</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Calidad</h6>
                  </div>
                </div>
              </li>
              
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Responsabilidad</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Pasión</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/img-1-1200x1000.jpg" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Design System</h4>
              <p class="lead text-italic text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>Our customers</h3>
            <p class="lead">Don't let your uses guess by attaching tooltips and popoves to any element. Just make sure you enable them first via JavaScript.</p>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
            <p>The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go.</p>
            <a href="javascript:void(0)" class="font-weight-bold text-warning mt-5">A beautiful UI Kit for impactful websites</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section pb-0 bg-gradient-warning">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-lg-2 ml-lg-auto">
          <div class="position-relative pl-md-5">
            <!--<video src="./assets/img/theme/video1.mp4" style="width: 500px;height: 500px;" autoplay muted loop></video>
            <img src="./assets/img/ill/ill-2.svg" class="img-center img-fluid">-->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="./assets/img/theme/video1.mp4" allowfullscreen></iframe>
          </div>
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-building text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">Modern Interface</h4>
              <p class="text-white">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">Awesome Support</h5>
                  <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                  <a href="javascript:void(0)" class="text-success">Learn more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">Modular Components</h5>
                  <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                  <a href="javascript:void(0)" class="text-warning">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  
  <section class="section section-lg pt-0">
    <div class="container">
      <div class="card bg-gradient-warning shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">We made website building easier for you.</h3>
              <p class="lead text-white mt-3">I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture.</p>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-lg btn-block btn-white">Download Angular</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Build something</h2>
          <p class="lead text-white">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Building tools</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Grow your market</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Launch time</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
    <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Do you love this awesome
            <span class="text-success">Design System for Angular?</span>
          </h2>
          <p class="lead">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim where you can find the Design System in Angular. Start a new project or give an old Angular project a new look!</p>
          <div class="btn-wrapper">
            <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-primary mb-3 mb-sm-0">Download Angular</a>
          </div>
          <div class="text-center">
            <h4 class="display-4 mb-5 mt-5">Available on these technologies</h4>
            <div class="row justify-content-center">
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Bootstrap 4 - Most popular front-end component library">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/bootstrap.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Angular - One framework. Mobile &amp; desktop">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/angular.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/vue-argon-design-system?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Vue.js - The progressive javascript framework">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/vue.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.sketchapp.com/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Sketch - Digital design toolkit">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/sketch.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.adobe.com/products/photoshop.html?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Adobe Photoshop - Software for digital images manipulation">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/ps.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://reactjs.org/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] React - A JavaScript library for building user interfaces">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/react.jpg" class="img-fluid opacity-3">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
