<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu-entrenador"></ion-back-button>
    </ion-buttons>
    <ion-title>Arqueros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br/>
  <form>
    <ion-item>
      <ion-label position="stacked"><strong>Nombre</strong></ion-label>
      <ion-input type="text" #nombre placeholder="Lizeth" (ionChange)="busqueda(nombre)"></ion-input>
    </ion-item>
  </form> 
  <div *ngIf="!arqueros || arqueros.length == 0">
    <p class="centrarmensaje" style="margin-top: 10px;">No existe arqueros.</p>
  </div>
  <ion-card *ngFor="let arquero of arqueros| paginate: { itemsPerPage: 5, currentPage: pageActual };let indice=index">
    
    <ion-card-header>
      <ion-card-subtitle>{{arquero.nombre}} {{arquero.apellido}}</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      <div class="row">  
        <img [src]="arquero.foto" style="height:150px;display:block;margin:auto"/>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            Telefono arquero: <a href="+593{{arquero.telefono}}">{{arquero.telefono}}</a>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Telefono representante: <a href="tel:arquero.telefono2">{{arquero.telefono2}}</a>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand="block" [routerLink]="['/ver-arquero', arquero.uid]">
        Ver
      </ion-button>
      <ion-button expand="block" color="secondary" [routerLink]="['/avance', arquero.uid]">Añadir Avances</ion-button>
      <ion-button expand="block" (click)="descargar(arquero.cedula)" *ngIf="arquero.ficha == valida">
        Descargar Ficha
      </ion-button>
    </ion-card-content>
    
    
  </ion-card>
  <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
  <div class="print-pdf">
    <div class="print-wrapper" id="print-wrapper">
    </div>
  </div>
</ion-content>
