<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Arquero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="onRegister(email, password, nombre, apellido, cedula, telefono,telefono2)">
    <ion-item>
      <ion-label position="stacked"><strong>Nombres</strong></ion-label>
      <ion-input formControlName="nombreControl" type="text" #nombre placeholder="Nombre1 Nombre2" (ionChange)="cambio()" id="dir"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <p class="form-error"
        *ngIf="formGroup.get('nombreControl').hasError('required')">
        *Requerido
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('nombreControl').hasError('minlength')">
        *Mínimo 7 caracteres 
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('nombreControl').hasError('maxlength')">
        *Máximo 30 caracteres  
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('nombreControl').hasError('pattern')">
        *Se debe ingresar dos nombres y debe solo contener letras
      </p>
    </div>

    <ion-item>
      <ion-label position="stacked"><strong>Apellidos</strong></ion-label>
      <ion-input formControlName="apellidoControl" type="text" #apellido placeholder="Apellido1 Apellido2" (ionChange)="cambio2()" id="dir2"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <p class="form-error"
        *ngIf="formGroup.get('apellidoControl').hasError('required')">
        *Requerido
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('apellidoControl').hasError('minlength')">
        *Mínimo 7 caracteres 
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('apellidoControl').hasError('maxlength')">
        *Máximo 30 caracteres  
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('apellidoControl').hasError('pattern')">
        *Se debe ingresar dos apellidos y debe solo contener letras
      </p>
    </div>

    <ion-item>
      <ion-label position="stacked"><strong>Cédula</strong></ion-label>
      <ion-input formControlName="cedulaControl" type="tel" #cedula placeholder="0498989898"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <p class="form-error"
        *ngIf="formGroup.get('cedulaControl').hasError('required')">
        *Requerido
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('cedulaControl').hasError('minlength')">
        *10 números 
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('cedulaControl').hasError('maxlength')">
        *10 números 
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('cedulaControl').hasError('pattern')">
        *La cédula debe tener solo números
      </p>
    </div>

    <ion-item>
      <ion-label position="stacked"><strong>Teléfono</strong></ion-label>
      <ion-input formControlName="telefonoControl" type="tel" #telefono placeholder="0999999999"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <p class="form-error"
        *ngIf="formGroup.get('telefonoControl').hasError('required')">
        *Requerido
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('telefonoControl').hasError('minlength')">
        *Mínimo 7 números 
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('telefonoControl').hasError('maxlength')">
        *Máximo 10 números 
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('telefonoControl').hasError('pattern')">
        *El teléfono debe tener solo números
      </p>
    </div>

    <ion-item>
      <ion-label position="stacked"><strong>Teléfono Representante</strong></ion-label>
      <ion-input formControlName="telefono2Control" type="tel" #telefono2 placeholder="0999999999"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <p class="form-error"
        *ngIf="formGroup.get('telefono2Control').hasError('required')">
        *Requerido
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('telefono2Control').hasError('minlength')">
        *Mínimo 7 números 
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('telefono2Control').hasError('maxlength')">
        *Máximo 10 números 
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('telefono2Control').hasError('pattern')">
        *El teléfono debe tener solo números
      </p>
    </div>

    <ion-item>
      <ion-label position="stacked"><strong>Correo electrónico</strong></ion-label>
      <ion-input formControlName="emailControl" type="email" #email placeholder="escuela.arqueros@gmail.com"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <p class="form-error"
        *ngIf="formGroup.get('emailControl').hasError('required')">
        *Requerido
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('emailControl').hasError('email')">
        *Ingrese un correo válido
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('emailControl').hasError('minlength')">
        *Mínimo 10 caracteres 
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('emailControl').hasError('maxlength')">
        *Máximo 40 caracteres  
      </p>
  </div>

  <ion-item>
    <ion-label position="stacked"><strong>Contraseña</strong></ion-label>
    <div>
      <ion-input formControlName="passwordControl" [type]="passwordTypeInput" 
      #password placeholder="***********"></ion-input>
    </div>
    
    <button item-end type="button" class="btn_eye_icon" color="royal" style="border: none;" (click)="showPassword()">
      <ion-icon [name]="(passwordTypeInput === 'text')?'eye-off':'eye'" ></ion-icon>
    </button>
  </ion-item>
  <div class="validation-errors">
    <p class="form-error"
      *ngIf="formGroup.get('passwordControl').hasError('required')">
      *Requerido
    </p>
    <p class="form-error"
      *ngIf="formGroup.get('passwordControl').hasError('minlength')">
      *Mínimo 8 caracteres 
    </p>
    <p class="form-error"
      *ngIf="formGroup.get('passwordControl').hasError('maxlength')">
      *Máximo 40 caracteres 
    </p>
  </div>
  <ion-item>
    <ion-label position="stacked"><strong>Fecha de nacimiento</strong></ion-label>
    <ion-datetime 
      [(ngModel)]="age" 
      placeholder="Dia Mes Año" 
      displayFormat="DD/MM/YYYY" 
      min="{{min | date: 'yyyy-MM-dd'}}" 
      max="{{max | date: 'yyyy-MM-dd'}}" 
      cancelText="Cancelar"
      doneText="Seleccionar"
      formControlName="fechaControl"
      (ionChange)="edad($event)"
    ></ion-datetime>

  </ion-item>
  
  <ion-item>
      <ion-label position="stacked"><strong>Foto</strong></ion-label>
      <ion-input formControlName="foto" type="file" accept="image/*" (change)="enviarimagen($event)" style="color:black"></ion-input>
  </ion-item>
  <div class="validation-errors">
    <p class="form-error"
      *ngIf="formGroup.get('foto').hasError('required')">
      *Requerido
    </p>
  </div>

  <ion-row>
    <ion-col>
        <ion-button type="submit" [disabled]="!formGroup.valid" expand="block" color="tertiary">Registrarse</ion-button>
    </ion-col>
  </ion-row>

  </form>
  <ion-row>
    <ion-col>
      <p style="text-align: center;">
        <a routerLink="/login">¿Ya tienes una cuenta?</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>