<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Menu Entrenador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" color="tertiary" routerLink="/ficha">
        Ficha
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" color="tertiary" routerLink="/horarios">
        Horarios y lugar de entrenamiento
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" color="tertiary" routerLink="/listado-arqueros">
        Alumnos
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" expand="block" color="tertiary" routerLink="/perfil-entrenador">
        Perfil
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="tertiary" (click)="mensajesalir()">
        Cerrar Sesión
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
