<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Menu Entrenador</ion-title>
    <ion-buttons slot="end" style="padding: 10px;" [routerLink]="['/notificaciones-entrenador']">
      <app-notifientrenador></app-notifientrenador>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button routerLink="/perfil-entrenador" block >
          <img src="../../../assets/menu/perfil.png">
        </button>
      </ion-col>
      <ion-col>
        <button routerLink="/listado-arqueros" block >
          <img src="../../../assets/menu/search.png">
        </button>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        Perfil
      </ion-col>
      <ion-col>
        Arqueros
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <button routerLink="/horarios" block >
          <img src="../../../assets/menu/list.png">
        </button>
      </ion-col>
      <ion-col >
        <button routerLink="/visualizar-horarios" block >
          <img src="../../../assets/menu/analytics.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Horarios y lugar de entrenamiento
      </ion-col>
      <ion-col >
        Visualizar horarios
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <button routerLink="/listado-avance" block >
          <img src="../../../assets/menu/avance.png">
        </button>
      </ion-col>
      <ion-col >
        <button routerLink="/ficha" block >
          <img src="../../../assets/menu/ficha.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Avances
      </ion-col>
      <ion-col >
        Ficha
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <button routerLink="/solicitudes-entrenamiento" block >
          <img src="../../../assets/menu/entrenadornuevo.png">
        </button>
      </ion-col>
      <ion-col >
        <button routerLink="/solicitudes-entrenamiento" block >
          <img src="../../../assets/menu/solicitud.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Nuevo Entrenador
      </ion-col>
      <ion-col >
        Solicitudes de entrenamiento
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <a href="https://chat.whatsapp.com/DmACGpFKfZqH4A3KIPy4Fx">
          <img src="../../../assets/menu/whatsap.png">
        </a>
      </ion-col>
      <ion-col >
        <button (click)="mensajesalir()" block >
          <img src="../../../assets/menu/cerrarsesión.png">
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Grupo
      </ion-col>
      <ion-col >
        Cerrar Sesión
      </ion-col>

    </ion-row>
  </ion-grid>




</ion-content>
