<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu-entrenador"></ion-back-button>
    </ion-buttons>
    <ion-title>Horarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!horario || horario.length == 0">
    <p class="centrarmensaje" style="margin-top: 10px;">No existe horarios registrados.</p>
  </div>
  <ion-card *ngFor="let hora of horario" > 
    <ion-card-header>
      <ion-card-subtitle>{{hora.fecha}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            Hora de entrada
          </ion-col>
          <ion-col>
            {{ hora.horaentrada }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Hora de salida
          </ion-col>
          <ion-col>
            {{ hora.horasalida }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Lugar 
          </ion-col>
          <ion-col>
            {{ hora.lugar }}
          </ion-col>
        </ion-row>
        <ion-button expand="block" [routerLink]="['/ver-horario', hora.id]" *ngIf="fechahoy==hora.fecha">
          Ver
        </ion-button>
      </ion-grid> 
      
    </ion-card-content>
  </ion-card>
</ion-content>
