<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/solicitudes-entrenamiento"></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitud entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
  <form *ngIf="solicitud">
    <ion-item>
      <ion-label position="stacked"><strong>Fecha solicitud:</strong></ion-label>
      <p>{{solicitud.fechasol}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><strong>Lugar y hora:</strong></ion-label>
      <p>{{solicitud.horario}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><strong>Mensaje:</strong></ion-label>
      <p>{{solicitud.mensaje}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><strong>Mensaje entrenador:</strong></ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>
   
    <br/>
 
    
  </form>
</ion-content>
