<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu-arquero"></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitud entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked"><strong>Fecha solicitud:</strong></ion-label>
    <p>{{fechaactual | date: 'dd-MM-yyyy'}}</p>
  </ion-item>
  <ion-item>
    <ion-label position="stacked"><strong>Estudiante:</strong></ion-label>
    <p>{{usuario.nombre}} {{usuario.apellido}}</p>
  </ion-item>

  <ion-item lines="none">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-padding-bottom">
          <ion-label position="stacked">Seleccione el lugar</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-select ok-text="Seleccionar" 
        cancel-text="Cancelar" style="width: 100%;">
          <ion-select-option value="Bicentenario"> 
            <ion-label>
              Bicentenario
            </ion-label>
          </ion-select-option>
          <ion-select-option value="La Carolina" > 
            <ion-label>
              La Carolina
            </ion-label>
          </ion-select-option>
    
        </ion-select>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Fecha entrenamiento</ion-label>
    <ion-datetime 
    min="{{fechaactual | date: 'yyyy-MM-dd'}}" 

    cancelText="Cancelar"
    doneText="Seleccionar"
    displayFormat="DD/MM/YYYY"
    placeholder="Dia Mes Año" 
    (ionChange)="edad($event)"></ion-datetime>
  </ion-item>
  <ion-item lines="none">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-padding-bottom">
          <ion-label position="stacked">Seleccione el lugar</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-select ok-text="Seleccionar" 
        cancel-text="Cancelar" style="width: 100%;">
          <ion-select-option value="Bicentenario"> 
            <ion-label>
              Bicentenario
            </ion-label>
          </ion-select-option>
          <ion-select-option value="La Carolina" > 
            <ion-label>
              La Carolina
            </ion-label>
          </ion-select-option>
    
        </ion-select>
      </ion-row>
    </ion-grid>
  </ion-item>



</ion-content>
