<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/menu-entrenador"></ion-back-button>
    </ion-buttons>
    <ion-title>Ficha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br/>
  <form [formGroup]="formGroup">
    <ion-item >
      <ion-label position="stacked"><strong>Cédula</strong></ion-label>
      <ion-input placeholder="1704040404" #busquedacedula formControlName="cedula" type="tel"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <p class="form-error" 
        *ngIf="formGroup.get('cedula').hasError('required')">
        *Requerido
      </p>
      <p class="form-error"
        *ngIf="formGroup.get('cedula').hasError('minlength')">
        *10 números 
      </p>
      <p class="form-error" 
        *ngIf="formGroup.get('cedula').hasError('maxlength')">
        *10 números 
      </p>
      <p class="form-error" 
        *ngIf="formGroup.get('cedula').hasError('pattern')">
        *La cédula debe tener solo números
      </p>
    </div>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="!formGroup.valid" expand="full" (click)="buscar(busquedacedula)" >Buscar</ion-button>
      </ion-col>
    </ion-row>  
    
  </form> 
  <br/>
  <div *ngIf="!alumno">
    <p class="centrarmensaje" style="margin-top: 10px;">No existe alumnos.</p>
  </div>
  <div *ngIf="mostrarform">
    
    <ion-item lines="none" color="primary" style="text-align: center;">
      <h4 style="text-align: center;">DATOS PERSONALES DEL ALUMNO</h4>
    </ion-item>
    <br/>
    <ion-item lines="none">  
      <img [src]="alumno.foto" style="height:150px;display:block;margin:auto"/>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><strong>Nombres</strong></ion-label>
      <p style="color: black">{{alumno.nombre}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><strong>Apellidos</strong></ion-label>
      <p style="color: black">{{alumno.apellido}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><strong>Número de Cédula</strong></ion-label>
      <p style="color: black">{{alumno.cedula}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><strong>Fecha Nacimiento</strong></ion-label>
      <p style="color: black">{{alumno.fecha_naciento }}</p>
    </ion-item>
    <form [formGroup]="formGroup2" >
      <ion-item>
        <ion-label position="stacked">Fecha de Ingreso a la Esc Arq:</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY"   
        (ionChange)="cambiofecha2($event)"
        placeholder="Dia Mes Año"    
        max="{{fechaactual | date: 'yyyy-MM-dd'}}"
        cancelText="Cancelar"
        doneText="Seleccionar"
        formControlName="fechadev"
        >
        </ion-datetime>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('fechadev').hasError('required')">
          *Requerido
        </p>
      </div>
  
      <ion-item>
        <ion-label position="stacked">Lugar de nacimiento:</ion-label>
        <ion-textarea [(ngModel)]="ficha.lugarnacimiento" name="lugarnaci" formControlName="lugarnacimiento" placeholder="La Marin">
        </ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('lugarnacimiento').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
        *ngIf="formGroup2.get('lugarnacimiento').hasError('minlength')">
        *Mínimo 5 caracteres 
       </p>
        <p class="form-error"
        *ngIf="formGroup2.get('lugarnacimiento').hasError('maxlength')">
        *Máximo 30 caracteres  
        </p>
        <p class="form-error"
        *ngIf="formGroup2.get('lugarnacimiento').hasError('pattern')">
        *Se debe ingresar solo letras
       </p>
      </div>
      
      <ion-item>
        <ion-label position="stacked">Dirección de domicilio:</ion-label>
        <ion-textarea [(ngModel)]="ficha.direccion" name="direccdomici" formControlName="direcciondomi" placeholder="Carcelen bajo calles">
        </ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('direcciondomi').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
        *ngIf="formGroup2.get('direcciondomi').hasError('minlength')">
        *Mínimo 7 caracteres 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('direcciondomi').hasError('maxlength')">
          *Máximo 30 caracteres  
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked">Escuela / Colegio / Universidad:</ion-label>
        <ion-textarea  [(ngModel)]="ficha.institucion" name="instucion" formControlName="institucion" placeholder="Colegio Simón Bolivar"></ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('institucion').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
        *ngIf="formGroup2.get('institucion').hasError('minlength')">
        *Mínimo 7 caracteres 
       </p>
        <p class="form-error"
        *ngIf="formGroup2.get('institucion').hasError('maxlength')">
        *Máximo 50 caracteres  
        </p>
        <p class="form-error"
        *ngIf="formGroup2.get('institucion').hasError('pattern')">
        *Se debe ingresar solo letras y números
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked">Donde Trabaja:</ion-label>
        <ion-input [(ngModel)]="ficha.dondetrabaja" name="diretrabajo" formControlName="dondetrabaja" placeholder="Supermaxi"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('dondetrabaja').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
        *ngIf="formGroup2.get('dondetrabaja').hasError('minlength')">
        *Mínimo 7 caracteres 
       </p>
        <p class="form-error"
        *ngIf="formGroup2.get('dondetrabaja').hasError('maxlength')">
        *Máximo 30 caracteres  
        </p>
        <p class="form-error"
        *ngIf="formGroup2.get('dondetrabaja').hasError('pattern')">
        *Se debe ingresar solo letras y números
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked">Dirección de Trabajo:</ion-label>
        <ion-textarea [(ngModel)]="ficha.direcciontrabajo" name="direecciontraba" formControlName="direcciontrabajo" placeholder="La Carolina calles"></ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('direcciontrabajo').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
        *ngIf="formGroup2.get('direcciontrabajo').hasError('minlength')">
        *Mínimo 7 caracteres 
       </p>
        <p class="form-error"
        *ngIf="formGroup2.get('direcciontrabajo').hasError('maxlength')">
        *Máximo 50 caracteres  
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked">Estatura:</ion-label>
        <ion-input [(ngModel)]="ficha.estatura" name="estatura" formControlName="estatur" placeholder="1,50 cm"></ion-input>
        
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('estatur').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
        *ngIf="formGroup2.get('estatur').hasError('minlength')">
        *Mínimo 5 caracteres  
       </p>
        <p class="form-error"
        *ngIf="formGroup2.get('estatur').hasError('maxlength')">
        *Máximo 7 caracteres  
        </p>
  
      </div>
      <ion-item>
        <ion-label position="stacked">Peso:</ion-label>
        <ion-input [(ngModel)]="ficha.peso" name="peso" formControlName="pes" placeholder="20 kg"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('pes').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
        *ngIf="formGroup2.get('pes').hasError('minlength')">
        *Mínimo 5 caracteres 
       </p>
        <p class="form-error"
        *ngIf="formGroup2.get('pes').hasError('maxlength')">
        *Máximo 8 caracteres  
        </p>

      </div>
      <ion-item>
        <ion-label position="stacked">Tipo de Sangre:</ion-label>
        <ion-input [(ngModel)]="ficha.tiposangre" name="tiposangre" formControlName="tipsang" placeholder="O+"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('tipsang').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
        *ngIf="formGroup2.get('tipsang').hasError('minlength')">
        *Mínimo 2 caracteres 
       </p>
        <p class="form-error"
        *ngIf="formGroup2.get('tipsang').hasError('maxlength')">
        *Máximo 4 caracteres  
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked" style="padding-bottom:20px !important">Posee alergias? Cuales son?:</ion-label>
        <ion-select formControlName="posale" placeholder="Seleccionar" style="margin-bottom:20px !important" okText="Ok" cancelText="Cancelar" [(ngModel)]="ficha.alergias" name="alergias" (ionChange)="seleccionalergias()">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('posale').hasError('required')">
          *Requerido
        </p>
      </div>
      <ion-item id="aler" style="display: none;">
        <ion-textarea formControlName="desposale" [(ngModel)]="ficha.descripcionalergias" name="descripcionalergias" placeholder="Alergias">
        </ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
        *ngIf="formGroup2.get('desposale').hasError('maxlength')">
        *Máximo 50 caracteres  
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked" style="padding-bottom:20px !important">Fracturas? Cuales son?:</ion-label>
        <ion-select formControlName="fractcua" placeholder="Seleccionar" style="margin-bottom:20px !important" okText="Ok" cancelText="Cancelar" [(ngModel)]="ficha.fracturas" name="fracturas" (ionChange)="seleccionafracturas()">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('fractcua').hasError('required')">
          *Requerido
        </p>
      </div>
      <ion-item id="frac" style="display: none;">
        <ion-textarea formControlName="desfractcua" [(ngModel)]="ficha.descripcionfracturas" name="descripcionfracturas" placeholder="Fracturas">
        </ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
        *ngIf="formGroup2.get('desfractcua').hasError('maxlength')">
        *Máximo 50 caracteres  
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked" style="padding-bottom:20px !important">Operaciones? Cuales son?:</ion-label>
        <ion-select formControlName="operacion" style="margin-bottom:20px !important" okText="Ok" cancelText="Cancelar" [(ngModel)]="ficha.operaciones" name="operaciones" (ionChange)="seleccionaoperaciones()">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('operacion').hasError('required')">
          *Requerido
        </p>
      </div>
      <ion-item id="opera" style="display: none;">
        <ion-textarea formControlName="desoperacion" [(ngModel)]="ficha.descripcionoperaciones" name="descripcionoperaciones" placeholder="Operaciones">
        </ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
        *ngIf="formGroup2.get('desoperacion').hasError('maxlength')">
        *Máximo 50 caracteres  
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked" style="padding-bottom:20px !important">Enfermedades? Cuales son?:</ion-label>
        <ion-select formControlName="enferm" placeholder="Seleccionar" style="margin-bottom:20px !important" okText="Ok" cancelText="Cancelar" [(ngModel)]="ficha.enfermedades" name="enfermedades" (ionChange)="seleccionaenfermedades()">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('enferm').hasError('required')">
          *Requerido
        </p>
      </div>
      <ion-item id="enfer" style="display: none;">
        <ion-textarea formControlName="desenfer" [(ngModel)]="ficha.descripcionenfermades" name="descripcionenfermades" placeholder="Enfermedades">
        </ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
        *ngIf="formGroup2.get('desenfer').hasError('maxlength')">
        *Máximo 50 caracteres  
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked" style="padding-bottom:20px !important">Toma Medicamentos? Por? / Para?:</ion-label>
        <ion-select formControlName="tommedo" placeholder="Seleccionar" style="margin-bottom:20px !important" okText="Ok" cancelText="Cancelar" [(ngModel)]="ficha.medicamentos" name="medicamentos" (ionChange)="seleccionamedicamentos()">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('tommedo').hasError('required')">
          *Requerido
        </p>
        
      </div>
      <ion-item id="medi" style="display: none;">
        <ion-textarea formControlName="destommedo" [(ngModel)]="ficha.descripcionmedicamentos" name="descripcionmedicamentos" placeholder="Medicamentos">
        </ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
        *ngIf="formGroup2.get('destommedo').hasError('maxlength')">
        *Máximo 50 caracteres  
        </p>
      </div>
      <br/>
      <ion-item lines="none" color="primary" style="text-align: center;">
        <h4 style="text-align: center;">DATOS DEL PADRE</h4>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nombres:</ion-label>
        <ion-input formControlName="nombrepadre" [(ngModel)]="ficha.nombpadre" name="nombpadre" placeholder="Nombre1 Nombre2"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
        *ngIf="formGroup2.get('nombrepadre').hasError('required')">
        *Requerido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('nombrepadre').hasError('minlength')">
          *Mínimo 7 caracteres 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('nombrepadre').hasError('maxlength')">
          *Máximo 30 caracteres  
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('nombrepadre').hasError('pattern')">
          *Se debe ingresar dos apellidos y debe solo contener letras
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked">Apellidos:</ion-label>
        <ion-input formControlName="apellidopadre" [(ngModel)]="ficha.apellpadre" name="apellpadre" placeholder="Apellido1 Apellido2"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
        *ngIf="formGroup2.get('apellidopadre').hasError('required')">
        *Requerido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('apellidopadre').hasError('minlength')">
          *Mínimo 7 caracteres 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('apellidopadre').hasError('maxlength')">
          *Máximo 30 caracteres  
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('apellidopadre').hasError('pattern')">
          *Se debe ingresar dos apellidos y debe solo contener letras
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked">Numero de Cédula:</ion-label>
        <ion-input formControlName="cedulapadre" [(ngModel)]="ficha.cedpadre" name="cedpadre" type="tel" placeholder="1799999999"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
        *ngIf="formGroup2.get('cedulapadre').hasError('required')">
        *Requerido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('cedulapadre').hasError('minlength')">
          *10 números 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('cedulapadre').hasError('maxlength')">
          *10 números 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('cedulapadre').hasError('pattern')">
          *La cédula debe tener solo números
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked">Lugar de Trabajo:</ion-label>
        <ion-input formControlName="lugarpadre" [(ngModel)]="ficha.lugartrabajopadre" name="lugartrabajopadre" placeholder="Supermaxi"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('lugarpadre').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('lugarpadre').hasError('minlength')">
          *5 números 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('lugarpadre').hasError('maxlength')">
          *10 números 
        </p>
      
      </div>
      <ion-item>
        <ion-label position="stacked">Email:</ion-label>
        <ion-input formControlName="emailpadre" [(ngModel)]="ficha.emailpadre" name="emailpadre" placeholder="escuela.arqueros@gmail.com"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('emailpadre').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('emailpadre').hasError('email')">
          *Ingrese un correo válido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('emailpadre').hasError('minlength')">
          *Mínimo 10 caracteres 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('emailpadre').hasError('maxlength')">
          *Máximo 40 caracteres  
        </p>
      </div>
      <ion-item>
        <ion-label position="stacked">Telefonos:</ion-label>
        <ion-input formControlName="telefonopadre" [(ngModel)]="ficha.telefonopadre" name="telefonopadre" placeholder="0999999999"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('telefonopadre').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('telefonopadre').hasError('minlength')">
          *Mínimo 7 caracteres 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('telefonopadre').hasError('maxlength')">
          *Máximo 30 caracteres  
        </p>
        <p class="form-error" 
        *ngIf="formGroup2.get('telefonopadre').hasError('pattern')">
        *La cédula debe tener solo números y espacio
        </p>
     
      </div>
      <ion-item lines="none" color="primary" style="text-align: center;">
        <h4 style="text-align: center;">DATOS DE LA MADRE</h4>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nombres:</ion-label>
        <ion-input formControlName="nombremadre" [(ngModel)]="ficha.nombmadre" name="nombmadre" placeholder="Nombre1 Nombre2"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
        *ngIf="formGroup2.get('nombremadre').hasError('required')">
        *Requerido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('nombremadre').hasError('minlength')">
          *Mínimo 7 caracteres 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('nombremadre').hasError('maxlength')">
          *Máximo 30 caracteres  
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('nombremadre').hasError('pattern')">
          *Se debe ingresar dos apellidos y debe solo contener letras
        </p>
    
      </div>
      <ion-item>
        <ion-label position="stacked">Apellidos:</ion-label>
        <ion-input formControlName="apellidosmadre" [(ngModel)]="ficha.apellmadre" name="apellmadre" placeholder="Apellido1 Apellido2"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
        *ngIf="formGroup2.get('apellidosmadre').hasError('required')">
        *Requerido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('apellidosmadre').hasError('minlength')">
          *Mínimo 7 caracteres 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('apellidosmadre').hasError('maxlength')">
          *Máximo 30 caracteres  
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('apellidosmadre').hasError('pattern')">
          *Se debe ingresar dos apellidos y debe solo contener letras
        </p>
 
      </div>
      <ion-item>
        <ion-label position="stacked">Numero de Cédula:</ion-label>
        <ion-input formControlName="numerocedulamadre" [(ngModel)]="ficha.cedmadre" name="cedmadre" type="tel" placeholder="1799999999"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
        *ngIf="formGroup2.get('numerocedulamadre').hasError('required')">
        *Requerido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('numerocedulamadre').hasError('minlength')">
          *10 números 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('numerocedulamadre').hasError('maxlength')">
          *10 números 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('numerocedulamadre').hasError('pattern')">
          *La cédula debe tener solo números
        </p>
      
      </div>
      <ion-item>
        <ion-label position="stacked">Lugar de Trabajo:</ion-label>
        <ion-input formControlName="lugarmadre" [(ngModel)]="ficha.lugartrabajomadre" name="lugartrabajomadre" placeholder="Supermaxi"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('lugarmadre').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
        *ngIf="formGroup2.get('lugarmadre').hasError('minlength')">
        *Mínimo 5 caracteres  
       </p>
        <p class="form-error"
        *ngIf="formGroup2.get('lugarmadre').hasError('maxlength')">
        *Máximo 30 caracteres  
        </p>
    
      </div>
      <ion-item>
        <ion-label position="stacked">Email:</ion-label>
        <ion-input formControlName="emailmadre" [(ngModel)]="ficha.emailmadre" name="emailmadre" placeholder="escuela.arqueros@gmail.com"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
        *ngIf="formGroup2.get('emailmadre').hasError('required')">
        *Requerido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('emailmadre').hasError('email')">
          *Ingrese un correo válido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('emailmadre').hasError('minlength')">
          *Mínimo 10 caracteres 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('emailmadre').hasError('maxlength')">
          *Máximo 40 caracteres  
        </p>
   
      </div>
      <ion-item>
        <ion-label position="stacked">Telefonos:</ion-label>
        <ion-input formControlName="telefonomadre" [(ngModel)]="ficha.telefonomadre" name="telefonomadre" placeholder="0999999999"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('telefonomadre').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('telefonomadre').hasError('minlength')">
          *Mínimo 7 caracteres 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('telefonomadre').hasError('maxlength')">
          *Máximo 30 caracteres  
        </p>
        <p class="form-error" 
        *ngIf="formGroup2.get('telefonomadre').hasError('pattern')">
        *La cédula debe tener solo números y espacio
        </p>
   
      </div>

      <ion-item>
        <ion-label position="stacked">Telfs de Emergencia / De Quien?</ion-label>
        <ion-textarea formControlName="telemerge" [(ngModel)]="ficha.telefonemergencia" name="telefonemergencia" placeholder="0999999999 Parentesco">
        </ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <p class="form-error"
          *ngIf="formGroup2.get('telemerge').hasError('required')">
          *Requerido
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('telemerge').hasError('minlength')">
          *Mínimo 7 caracteres 
        </p>
        <p class="form-error"
          *ngIf="formGroup2.get('telemerge').hasError('maxlength')">
          *Máximo 30 caracteres  
        </p>
  
      </div>
      <ion-row>
        <ion-col>
            <ion-button [disabled]="!formGroup2.valid" expand="block" color="tertiary" (click)="habilitarfirverif()">Siguiente</ion-button>
        </ion-col>
      </ion-row>
     
    </form>
  </div>
  

  <ion-item id="formainputid" style="display: none;">
  <signature-pad (onBeginEvent)="drawStart()"></signature-pad>
  </ion-item>
  <div id="formainputid2" style="display: none;">
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="success" (click)="drawComplete()">Confirmar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="borrarfirma()" [disabled]="final==null">Borrar</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="guardarficha()" [disabled]="!formGroup2.valid || final==null">Guardar Ficha</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div class="print-pdf">
    <div class="print-wrapper" id="print-wrapper">
    </div>
  </div>
  
</ion-content>
